<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-performance-ka"
      version="1.0.0">

    <name>cordova-plugin-firebase-performance-ka</name>
    <description>Cordova plugin for Firebase Performance</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/kanodeveloper/cordova-plugin-firebase-performance-ka</repo>
    <issue>https://github.com/kanodeveloper/cordova-plugin-firebase-performance-ka/issues</issue>

    <engines>
        <engine name="cordova" version=">=6.0.0"/>
        <engine name="cordova-android" version=">=6.0.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>

    <platform name="ios">

        <framework src="Firebase/Performance" type="podspec" spec="~> 4.1"/>

    </platform>

    <platform name="android">


        <framework src="com.google.firebase:firebase-perf:11.4.+" />

        <framework src="build.gradle" custom="true" type="gradleReference" />

    </platform>

</plugin>
