<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
      id="cordova-plugin-firebase-performance-ka"
      version="1.1.0">

    <name>cordova-plugin-firebase-performance-ka</name>
    <description>Cordova plugin for Firebase Performance</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/kanodeveloper/cordova-plugin-firebase-performance-ka</repo>
    <issue>https://github.com/kanodeveloper/cordova-plugin-firebase-performance-ka/issues</issue>

    <js-module src="www/FirebasePerformance.js" name="FirebasePerformance">
        <merges target="cordova.plugins.firebase.perf" />
    </js-module>

    <hook type="after_plugin_install" src="hooks/after_plugin_add.js" />
    <hook type="after_platform_add" src="hooks/after_plugin_add.js" />
    <hook type="before_plugin_uninstall" src="hooks/before_plugin_rm.js" />

    <engines>
        <engine name="cordova" version=">=6.0.0"/>
        <engine name="cordova-android" version=">=6.0.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="FirebasePerformance">
                <param name="ios-package" value="FirebasePerformancePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/FirebasePerformancePlugin.h" />
        <source-file src="src/ios/FirebasePerformancePlugin.m" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods>
                <pod name="Firebase/Performance" spec="~> 6.5.0" />
            </pods>
        </podspec>

    </platform>

    <platform name="android">

        <preference name="ANDROID_API_VERSION" default="11.8.0"/>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="firebase_performance_collection_enabled" android:value="true" />
        </config-file>

        <dependency id="cordova-plugin-google-services-ka" version="~1.0.0"/>

        <framework src="com.google.firebase:firebase-perf:$ANDROID_API_VERSION" />

    </platform>

</plugin>
